* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
}
body {
    background: #000;
}
h1{
    text-transform: uppercase;
}
input{
    font-size: 2em;
    background: transparent;
    border-left: 1px solid #e03c31;
}
.button{
    width: 30vh;
    height: 30px;
    background: transparent;
    border: 1px solid #e03c31;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #e03c31;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

}
.container{
    width: 50vh;
    height: 80vh;
    border: 1px solid #e03c31;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
}
.inContainer {
    margin: 40px;
}
.date{
    margin-top: 20px;
    margin-bottom: 20px;
}




