* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
}
body {
    background: #000;
}
h1{
    text-transform: uppercase;
}
input{
    font-size: 30px;
    background: transparent;
    border-bottom: 1px solid white;
}
.button{
    width: 300px;
    height: 30px;
    background: transparent;
    border: 1px solid #e03c31;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #e03c31;
}
.center{
    width: 300px;
    height: 700px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}
.sunny{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #ffd600;
}



